/* contains the CSS styling for HTML elements in the AnimalShelter web app. */

.quick-filter {
  margin: 5px;
  padding: 8px 16px;
  background-color: #007bff;    /* azure */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.quick-filter:hover {
  background-color: #0056b3;    /* sapphire */
  color: #FFFFFF;
}

/*
#current-quick-filter {
  /* no styling yet */
}  
*/

#hidden-div {
  display: none;
}

#animal-location-map {
  width: 1000px;
  height: 500px;
}
