/* contains the CSS styling for HTML elements in the AnimalShelter web app. */

.quick-filter {
  margin: 5px;
  padding: 8px 16px;
  background-color: #007bff;    /* azure */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.quick-filter:hover {
  background-color: #0056b3;    /* sapphire */
  color: #FFFFFF;
}

/* highlight the active filter */
.selected {
  background-color: #1cfeba;     /* aquamarine */
}

